.check--ans {
  position: absolute;
  width: 120px;
  height: 45px;
  left: 315px;
  top: 680px;
  background: #4d5b9e;
  border-radius: 10px;
  color: white;
  border-color: black;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 5px 10px 18px #4d5b9e;
}
.options {
  width: 700px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.questions {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.question {
  padding: 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  display: flex;
}
.options {
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}
.options button {
  border-radius: 10px;
  border-color: #f5f7fb;
  text-align: center;
  background-color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.24px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
}
.footer p {
  padding: 20px;
  width: auto;
  margin: 0px;
  font-size: large;
  font-weight: 700;
  font-family: "Inter";
}
.footer button {
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Inter";
  width: 104px;
  height: 40px;
  margin-top: 20px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-color: white;
  box-shadow: 5px 10px 18px #4d5b9e;
}
